.material-symbolsarrow-back-io5 {
  position: absolute;
  top: 120px;
  left: 24px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.icbaseline-phone,
.material-symbolslocation-on {
  position: absolute;
  top: 463px;
  left: 301px;
  width: 21px;
  height: 24px;
  overflow: hidden;
}
.material-symbolslocation-on {
  top: 120px;
  left: 0;
  width: 24px;
}
.contact-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-brown);
  width: 1440px;
  height: 120px;
}
.vector-icon5 {
  position: absolute;
  height: 78.96%;
  width: 45.21%;
  top: 10.52%;
  right: 28.02%;
  bottom: 10.52%;
  left: 26.77%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.material-symbolsarrow-back-io6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 27px;
  left: 30px;
  width: 79px;
  height: 59px;
  overflow: hidden;
}
.contact-us1 {
  position: absolute;
  top: 28px;
  left: calc(50% - 112px);
  font-size: var(--font-size-45xl);
  color: var(--color-whitesmoke);
  display: inline-block;
  width: 415px;
  height: 85px;
}
.contact-item {
  border: 0;
  background-color: var(--color-gainsboro);
  position: absolute;
  top: 268px;
  left: calc(50% - 187px);
  border-radius: var(--br-11xs);
  width: 375px;
  height: 45px;
}
.name {
  position: absolute;
  top: 281px;
  left: 549px;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
}
.contact-inner,
.rectangle-input,
.rectangle-textarea {
  border: 0;
  background-color: var(--color-gainsboro);
  position: absolute;
  top: 425px;
  left: calc(50% - 187px);
  border-radius: var(--br-11xs);
  width: 375px;
  height: 45px;
}
.rectangle-input,
.rectangle-textarea {
  top: 507px;
  height: 154px;
}
.rectangle-input {
  top: 348px;
  height: 45px;
}
.email-address,
.message,
.phone-number {
  position: absolute;
  top: 358px;
  left: 549px;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
  display: inline-block;
  width: 146px;
  height: 25px;
}
.message,
.phone-number {
  top: 436px;
  color: var(--color-gray-200);
  width: 130px;
  height: 22px;
}
.message {
  top: 518px;
  width: 93px;
  height: 18px;
}
.contact-child1 {
  position: absolute;
  top: 692px;
  left: 532px;
  border-radius: var(--br-36xl);
  background-color: var(--color-brown);
  width: 110px;
  height: 34px;
}
.send {
  position: absolute;
  top: 698px;
  left: 559px;
  font-size: var(--font-size-xl);
  color: var(--color-whitesmoke);
  display: inline-block;
  width: 70px;
  height: 21px;
}
.contact-child2 {
  position: absolute;
  top: 824px;
  left: 0;
  background-color: var(--color-black);
  width: 1440px;
  height: 200px;
}
.vector-icon6 {
  position: absolute;
  height: 1.76%;
  width: 1.09%;
  top: 87.21%;
  right: 14.81%;
  bottom: 11.04%;
  left: 84.1%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.address,
.syno-182-k {
  margin: 0;
  position: absolute;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.syno-182-k {
  top: 906px;
  left: 69px;
  display: inline-block;
  width: 265px;
}
.address {
  top: 862px;
  left: 109px;
}
.contact1,
.vector-icon7 {
  position: absolute;
  top: 851px;
  left: 1207px;
}
.vector-icon7 {
  height: 2.05%;
  width: 1.18%;
  top: 83.79%;
  right: 94.17%;
  bottom: 14.16%;
  left: 4.65%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b {
  position: absolute;
  top: 892px;
  left: 1253px;
  display: inline-block;
  width: 144px;
  height: 20px;
}
.icoutline-email-icon {
  position: absolute;
  top: 959px;
  left: 1205px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.animallovegmailcom {
  text-decoration: none;
  position: absolute;
  top: 963px;
  left: 1253px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  width: 181px;
  height: 22px;
}
.contact {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-inter);
}
